<!--Formulário do novo Produto-->
<div>
  <form [formGroup]="addProductForm" (ngSubmit)="handleSubmitAddProduct()">
    <div class="card flex flex-column md:flex-column gap-3">
      <input pInputText placeholder="Nome" formControlName="name">
      <p-dropdown styleClass="w-full" [options]="categoryList" [(ngModel)]="selectedCategory" optionLabel="name"
        optionValue="id" placeholder="Selecione uma categoria" formControlName="category_id"></p-dropdown>
      <input pInputText placeholder="Preço" formControlName="price">
      <input pInputText placeholder="Descrição" formControlName="description">
      <input pInputText placeholder="Quantidade" formControlName="stock">
      <div class="flex flex-row justify-content-center align-content-center align-items-center m-1">
        <p-button [disabled]="!addProductForm.valid" type="submit" label="Concluir"></p-button>
      </div>
    </div>
  </form>
</div>
